URL=http://localhost/sms
DB_HOST=localhost
DB_NAME=
DB_USER=root
DB_PASS=
DB_PORT=3306
MAINTENANCE=false
DISPROURL=https://apihttp.disparopro.com.br:8433/mt
DISPROKEY=
WEBHOOK_PRO_USER=
WEBHOOK_PRO_PASS=
ASASKEY=
ASASURL=https://api.asaas.com
PIXKEY=
ASAAS_WEBHOOK_SECRET=
VERIFY_URL_RECAPTCHA=
SECRET_KEY_RECAPTCHA=
