URL=http://localhost/sms
DB_HOST=localhost
DB_NAME=
DB_USER=root
DB_PASS=
DB_PORT=3306
MAINTENANCE=false
DISPROURL=https://apihttp.disparopro.com.br:8433/mt
DISPROKEY=
WEBHOOK_PRO_USER=
WEBHOOK_PRO_PASS=
ASASKEY=
ASASURL=https://api.asaas.com
PIXKEY=
ASAAS_WEBHOOK_SECRET=
VERIFY_URL_RECAPTCHA=
SECRET_KEY_RECAPTCHA=
JWT_SECRET=
SERVERASTERISK=
ARI_HOST=
ARI_PORT=8088
ARI_USER=
ARI_PASS=
STASIS_APP=app-asterisk
ASTERISK_PUBLIC_DOMAIN=
ASTERISK_PUBLIC_BASE_URL=
ASTERISK_API_BASE_URL=
ASTERISK_WS_HOST=
ASTERISK_WS_PORT=8089
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
ASTERISK_FTP_HOST=
ASTERISK_FTP_USER=
ASTERISK_FTP_PASS=
